{% extends 'base.html.twig' %}

{% block title %}- Team{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="col-12 mt-5"> Team View</h1>
            <div class="col-xl-9 col-lg-10 col-md-11 col-12 my-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Project View</li>
                    </ol>
                </nav>
            </div>
        </div>
        {% for team in teams %}
            <div class="row">
                <div class="col-xl-9 col-lg-10 col-md-11 ">
                    <div class="container">
                        <div class="row ml-md-2">
                            <div class="col-12 d-flex mb-0">
                                <h4>{{ Team.name }}</h4>
                                <span class="ml-auto">
                                <a href="{{ path('update_team', {id: team.id}) }}">Modifier</a>
                            </span>
                            </div>
                            {% for project in team.projects %}
                                <div class="col-12 ml-2"> Project : <a href="{{ path('show_project', {id: project.id}) }}">{{ project.name }}</a></div>
                                <div class="ml-3 mt-3 col-12">
                                    {% for user in project.team.users %}
                                        <div class="col-12 d-flex">
                                            {% if user.id == project.leader.id %}
                                                <div> Chef de Projet :  {{ project.leader.pseudo }}</div>
                                            {% endif %}
                                        </div>
                                        {% if user.id != project.leader.id %}
                                            <div class="col-12 d-flex">
                                                <div>{{ user.lastname }} {{ user.firstname }} ({{ user.pseudo }})</div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="ml-3 mt-3 col-12">
                                    Date de création: {{ team.createdAt | date('d M Y') }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row ml-md-2 my-3">

                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
