{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ asset('js/team.js') }}" type="text/javascript"></script>
</head>

    <div class="container">
        <div class="row">
            <div class="col-md-12 my-5">
                <h1> {{ team.name }} </h1>
                {% if (app.user.id)  is same as (team.createdBy.id) %}
                    <a href="{{ path('update_team', {id: team.id }) }}">Modifier le nom du groupe</a>
                {% endif %}
            </div>
            <div class="col-md-12 my-5">

                <div class="row d-flex">
                    <div class="col-md-8 my-3"><h4 >Membres :</h4></div>
                    {% if (app.user.id)  is same as (team.createdBy.id) %}
                        <div class="ml-auto my-3">
                            <a  class="btn-primary btn" href="{{ path('add_user_team', {id: team.id }) }}">Ajouter un membre</a>
                        </div>
                    {% endif %}
                </div>
                <table class="table nowrap" id="tableNews">
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Rôle</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for user in team.users %}
                            <tr>
                                <td class="v-align-middle">
                                    <p class="m-0">{{ user.pseudo }}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p class="m-0">{{ user.firstname }}</p>
                                </td>
                                <td class="v-align-middle">
                                    <p class="m-0">{{ user.lastname }}</p>
                                </td>
                                <td class="v-align-middle">
                                    {% if (team.createdBy.id) is same as (user.id)  %}
                                        <span class="badge badge-success px-2 py-1">Admin</span>
                                    {% else %}
                                        <span class="badge badge-secondary px-2 py-1">Membre</span>
                                    {% endif %}
                                </td>
                                <td class="v-align-middle ml-n3">
                                    {% if (app.user.id)  is same as (team.createdBy.id) %}
                                        <div class="btn btn-danger">
                                            <a href="{{ path('delete_user_team', {team_id: team.id, user_id: user.id}) }}">Ssupprimer</a>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="col-md-12 my-5">

                <div class="row d-flex">
                    <div class="col-md-8 my-3"><h4 >Projets :</h4></div>
                    {% if (app.user.id)  is same as (team.createdBy.id) %}
                        <div class="ml-auto my-3">
                            <a  class="btn-primary btn" href="{{ path('add_project_team', {id: team.id }) }}">Ajouter un projet</a>
                        </div>
                    {% endif %}
                </div>
                <table class="table nowrap" id="tableNews">
                    <thead>
                    <tr>
                        <th>Projet</th>
                        <th>Date Création</th>
                        <th>Admin</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td class="v-align-middle">
                                <a class="m-0" href="{{ path('show_project', {id: project.id}) }}">{{ project.name }}</a>
                            </td>
                            <td class="v-align-middle">
                                <p class="m-0">{{ project.createdAt | date('d M Y') }}</p>
                            </td>
                            <td class="v-align-middle">
                                {% if (project.createdBy.id) is same as (app.user.id)  %}
                                    <span class="badge badge-success px-2 py-1">Vous</span>
                                {% else %}
                                    <p class="m-0">{{ project.createdBy.pseudo }}</p>
                                {% endif %}
                            </td>
                            <td class="v-align-middle ml-n3">
                                {% if (app.user.id)  is same as (team.createdBy.id) %}
                                    <div class="btn btn-danger">
                                        <a href="{{ path('remove_project', {id: project.id}) }}">Supprimer</a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
