{% extends 'base.html.twig' %}

{% block title %}- Mise à jour{% endblock %}

{% block body %}
<div class="container">
        <div class="row">
            <div class="col-md-12 my-5">
                <h1>{% if app.request.get('_route') == 'update_timer' %}
                    Modifier le timer
                {% else %}
                    Créer un timer
                {% endif %}</h1>
            </div>
            <div class="col-xl-9 col-lg-10 col-md-11 col-12 mb-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('list_user_timers') }}">Vos Timers</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {% if app.request.get('_route') == 'update_timer' %}
                                Modifier le timer
                            {% else %}
                                Créer un timer
                            {% endif %}

                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-12">

                {{ form_start(form) }}

                <div class="row form-ul-style">
                    <div class="col-md-6 my-3">
                        {{ form_label(form.name, 'Nom du timer : ', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-input form-control col-md-12'}}) }}
                        {{ form_errors(form.name, {'attr': {'class': 'col-md-12 '}}) }}
                    </div>
                    <div class="col-md-8 my-3">
                        {{ form_label(form.description, 'Description : ', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-input form-control col-md-12'}}) }}
                        {{ form_errors(form.description, {'attr': {'class': 'col-md-12 '}}) }}
                    </div>
                    <div class="col-md-6 my-5">
                        {{ form_widget(form.submit, { 'label': 'Valider', 'attr': {'class': 'btn btn-primary'} }) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
