{% extends 'base.html.twig' %}

{% block title %}Hello TimerController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Timers</h1>

    <a href="{{ path('add_timer') }}">Ajouter un Timer</a>

    {% for timer in timers %}
        <a href="{{ path('show_timer', {id: timer.id}) }}">{{ timer.name }}</a> <br />

        {% if timer.end is not empty %}
            <div>Temps : {{ timer.getTime }}</div>
        {% endif %}

        Date de création: {{ timer.createdAt | date('d M Y') }} <br />
        Statut {{ timer.getStatusToString }}
        <br />
        <br />
        <br />
    {% endfor %}

</div>
{% endblock %}
