{% extends 'base.html.twig' %}

{% block title %}- Timer Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="col-8 mt-5">Timers</h1>
            {% if app.request.get('_route') == 'list_timers' %}
                <h2 class="mt-5">
                    <a href="{{ path('add_timer', {id: project_id}) }}">Ajouter un timer</a>
                </h2>
            {% endif %}
            <div class="col-xl-9 col-lg-10 col-md-11 col-12 my-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Timers</li>
                    </ol>
                </nav>
            </div>
        </div>
        <table class="table nowrap">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Durée</th>
                <th scope="col">Créé par</th>
                <th scope="col">Date de création</th>
                <th scope="col">Statut</th>
                <th scope="col">Mettre à jour</th>
            </tr>
            </thead>
            <tbody>
            {% for timer in timers %}
            <tr>
                <td><a class="font-weight-bold" href="{{ path('show_timer', {id: timer.id}) }}">{{ timer.name }}</a></td>
                <td>
                    {% if timer.end is not empty %}
                        {{ timer.getTime | date('H:i:s') }}
                    {% endif %}
                </td>
                <td>{{ timer.user.pseudo }}</td>
                <td>{{ timer.createdAt | date('d/m/y H:i') }}</td>
                <td>
                    {{ timer.getStatusToString }}
                    {% if timer.getStatusToString == 'EN COURS' %}
                        <span>🟠</span>
                    {% elseif timer.getStatusToString == 'PRÊT' %}
                        <span>🟢</span>
                    {% else %}
                        <span>🔴</span>
                    {% endif %}
                </td>
                <td>
                    <a class="btn-secondary btn-sm" role="button" href="{{ path('update_timer', {id: timer.id}) }}">
                        <i class="far fa-edit"></i>
                    </a>
                    <a class="btn-danger btn-sm" role="button" href="{{ path('remove_timer', {id: timer.id}) }}">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}
