{% extends 'base.html.twig' %}

{% block title %}- Timer Dashboard{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 class="col-8 mt-5">Timer</h1>
    </div>
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-11 ">
            <div class="container">
                <div class="row ml-md-2">
                    <div class="col-12 d-flex mb-0">
                        <h4>{{ timer.name }}</h4>
                        <span class="ml-auto">
                            <a href="{{ path('update_timer', {id: timer.id}) }}">Modifier</a>
                        </span>
                    </div>
                    <div class="col-12 ml-2"> Description : {{ timer.description }}</div>
                    <div class="col-12 ml-2"> Statut : {{ timer.getStatusToString }}</div>

                    {% if timer.end is not empty %}
                    <div class="col-12 ml-2">
                        Temps : {{ timer.getTime }}
                    </div>
                    {% endif %}
                    <div class="col-12 ml-2 d-flex justify-content-center timer">
                        <div class="col-4">
                        <div id="timer" data-status="{{ timer.getStatusToString }}" data-timer="{{ timer.start | json_encode() }}"></div>
                        </div>
                    </div>
                    <div class="col-12 ml-2 d-flex justify-content-around">
                        {% if timer.getStatusToString == 'PRÊT' %}
                            <a class="btn btn-primary" role="button" href="{{ path('run_timer', {id: timer.id}) }}">▶ Lancer</a>
                        {% elseif timer.getStatusToString == 'EN COURS'%}
                            <a class="btn btn-danger" role="button" href="{{ path('stop_timer', {id: timer.id}) }}">⏹ Arrêter</a>
                        {% endif %}
                        {% if timer.start is not null and timer.end is null %}
                            <a class="btn btn-secondary" role="button" href="{{ path('reset_timer', {id: timer.id}) }}">🔚 Annuler</a>
                        {% endif %}
                    </div>
                    </div>
                    <div class="ml-3 mt-3 col-12">
                        Créé le {{ timer.createdAt | date('d M Y') }} par {{ timer.user.username }}
                        <div>
                            <a class="text-danger" href="{{ path('remove_timer', {id: timer.id}) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
                <div class="row ml-md-2 my-3">

                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
{#
    <h2>Nom : {{ timer.name }}</h2>

    <a href="{{ path('update_timer', {id: timer.id}) }}">Modifier</a> /
    <a href="{{ path('remove_timer', {id: timer.id}) }}">Supprimer</a>

    <div>Statut {{ timer.getStatusToString }}</div>

    {% if timer.getStatusToString == 'PRÊT' %}
        <a href="{{ path('run_timer', {id: timer.id}) }}">Lancer le timer</a> /
    {% elseif timer.getStatusToString == 'EN COURS'%}
        <a href="{{ path('stop_timer', {id: timer.id}) }}">Arrêter le timer</a> /
    {% endif %}
    {% if timer.start is not null and timer.end is null %}
        <a href="{{ path('reset_timer', {id: timer.id}) }}">Annuler le timer</a>
    {% endif %}

    {% if timer.end is not empty %}
        <div>Temps : {{ timer.getTime }}</div>
    {% endif %}
    <div id="timer" data-status="{{ timer.getStatusToString }}" data-timer="{{ timer.start | json_encode() }}"></div>

    <div>Réalisé par : {{ timer.user.username }}</div>

    <div>Date de création : {{ timer.createdAt | date('d M Y') }}</div>

    <br />
    <div>
        Description : <br />
        {{ timer.description }}
    </div>
    <br />
    <br />
    <br />#}
{% endblock %}
