{% extends 'base.html.twig' %}

{% block title %}- Timer Dashboard{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 class="col-8 mt-5">Timer</h1>
    </div>
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-11 ">
            <div class="container">
                <div class="row ml-md-2">
                    <div class="col-12 d-flex mb-0">
                        <h4>{{ timer.name }}</h4>
                        <span class="ml-auto">
                            <a class="btn btn-success my-1 position-relative" role="button" href="{{ path('update_timer', {id: timer.id}) }}">
                                <i class="far fa-edit"></i>
                            </a>
                            <a class="btn btn-danger my-1 position-relative" role="button" href="{{ path('remove_timer', {id: timer.id}) }}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </span>
                    </div>
                    <div class="col-12 ml-2"> Créé le {{ timer.createdAt | date('d/m/Y') }} par {{ timer.user.username }}</div>

                    {% if timer.end is not empty %}
                    <div class="col-12 ml-2">
                        Temps : {{ timer.getTime }}
                    </div>
                    {% endif %}
                    <div class="col-11 col-lg-8 d-flex mx-auto my-5 p-4 timer">
                        <div class="d-flex flex-column align-self-center btn-timer">
                            {% if timer.getStatusToString == 'PRÊT' %}
                                <a class="text-primary btn" role="button" href="{{ path('run_timer', {id: timer.id}) }}">
                                    <i class="fas fa-play"></i>
                                </a>
                            {% elseif timer.getStatusToString == 'EN COURS' %}
                                <a class="text-danger" role="button" href="{{ path('stop_timer', {id: timer.id}) }}">
                                    <i class="fas fa-stop"></i>
                                </a>
                            {% endif %}
                            {% if timer.start is not null and timer.end is null %}
                                <a class="text-secondary" role="button" href="{{ path('reset_timer', {id: timer.id}) }}">
                                    <i class="fas fa-redo-alt"></i>
                                </a>
                            {% endif %}
                        </div>
                        {% if timer.getStatusToString == 'EN COURS' %}
                            <div class="d-flex align-items-center">
                                <div id="timer" data-status="{{ timer.getStatusToString }}" data-timer="{{ timer.start | json_encode() }}"></div>
                            </div>
                        {% endif %}
                        {% if timer.getStatusToString == 'PRÊT' %}
                            <div class="d-flex align-self-center ml-auto caption">
                                PRET
                            </div>
                        {% elseif timer.getStatusToString == 'TERMINÉ' %}
                            <div class="d-flex align-self-center ml-auto caption">
                                TERMINE
                            </div>
                        {% else %}
                            <div class="d-flex align-self-end ml-auto caption">
                                {{ timer.getStatusToString }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="ml-3 mt-3 col-12">
                        Description :
                        <div class="ml-3">
                            {{ timer.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div
{% endblock %}
