{% extends 'base.html.twig' %}

{% block title %}Hello TimerController!{% endblock %}

{% block body %}
    <head>
        <!-- Ajout du JQuery pour faire fonctionner l'ajout, il pourra être supprimer lorsqu'il aura été ajouter dans le projet global -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{{ asset('js/timer.js') }}" type="text/javascript"></script>
    </head>

    <a href="{{ path('list_timer')}}">Liste</a>
    <h1>Timer</h1>

    <a href="{{ path('update_timer', {id: timer.id}) }}">Modifier</a>
    <a href="{{ path('remove_timer', {id: timer.id}) }}">Supprimer</a>
    <br />
    <br />

    <div>Nom : {{ timer.name }}</div>
    <div>Statut {{ timer.getStatusToString }}</div>

    {% if timer.end is not empty %}
        <div>Temps : {{ timer.getTime }}</div>
    {% endif %}
    <div id="timer" data-status="{{ timer.getStatusToString }}" data-timer="{{ timer.start | json_encode() }}"></div>
    <div>Réalisé par : {{ timer.user.username }}</div>

    <div>Date de création : {{ timer.createdAt | date('d M Y') }}</div>

    <br />
    <div>
        Description : <br />
        {{ timer.description }}
    </div>
    <br />
    <br />
    <br />

    {% if timer.getStatusToString == 'PRÊT' %}
        <a href="{{ path('run_timer', {id: timer.id}) }}">lancer le timer</a> <br />
    {% endif %}
    {% if timer.getStatusToString == 'EN COURS'%}
        <a href="{{ path('stop_timer', {id: timer.id}) }}">Arrêter le timer</a> <br />
    {% endif %}
    {% if timer.start is not null and timer.end is null %}
        <a href="{{ path('reset_timer', {id: timer.id}) }}">Annuler le timer</a> <br />
    {% endif %}
{% endblock %}
