{% extends 'base.html.twig' %}

{% block body %}
    <div id="home-banner-image">
        <div id="home-banner-image-bg-color" >
            <div id="home-banner-center">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Timer Application</h1>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container py-5 ">
        <div class="row">
            <div class="col-md-12 ">
                <h1> Timer Application</h1>
                <p class="pt-3">Timer application description, ndustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchange</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 my-4">
                <a href="{{ path('home') }}"><img src="img/team.jpg" alt="photo team" class=" img-fluid my-2"></a>
                <div class="my-3">Number of team : 3</div>
                <div class="my-3">Last team you worked with: team Lorem</div>
                <a href="{{ path('home') }}" class="home-card my-3">Team View -></a>
            </div>
            <div class="col-md-4 my-4">
                <a href="{{ path('home') }}"><img src="img/project.jpg" alt="photo project" class="img-fluid my-2"></a>
                <div class="my-3">Number of project : 3</div>
                <div class="my-3">Last project you worked on: Project Lorem</div>
                <a href="{{ path('home') }}" class="home-card my-3">Project View -></a>
            </div>
            <div class="col-md-4 my-4">
                <a href="{{ path('home') }}"><img src="img/timer.jpg" alt="photo timer" class=" img-fluid my-2"></a>
                <div class="my-3">Number of Time you worked : 150h 30min 2s</div>
                <div class="my-3">Last Session duration : 3h 50min 20s</div>
                <a href="{{ path('home') }}" class="home-card my-3">Timer View -></a>
            </div>
        </div>
    </div>


{% endblock %}
