{% extends 'base.html.twig' %}

{% block title %}- Home{% endblock %}

{% block body %}
    <div class="container py-5" id="home-background">
        <div class="row">
            <div class="col-md-12 ">
                <h1>Application Timer</h1>
                <p class="pt-3">Bienvenue sur notre application Timer, pour vous aider à recenser votre temps de travail passé sur vos projets.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 my-4">
                <h4 class="home-card-titre"><a href="{{ path('list_teams') }}" class="home-card font-weight-bold my-3">Équipes</a></h4>
                <a href="{{ path('list_teams') }}"><img src="{{ asset('img/team.jpg') }}" alt="photo team" class=" img-fluid my-2"></a>
                {% if app.user %}
                    <div class="my-3">Nombre d'équipes : {{ count_teams }}</div>
                    <div class="my-3">Dernière équipe ajouté :
                        {% if last_team is not null and last_team.id is not empty %}
                            <a href="{{ path('show_team', {id: last_team.id}) }}"> {{ last_team.name }} </a>
                        {% else %}
                            Aucune
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4 my-4">
                <h4 class="home-card-titre"><a href="{{ path('list_projects') }}" class="home-card font-weight-bold my-3">Projets</a></h4>
                <a href="{{ path('list_projects') }}"><img src="{{ asset('img/project.jpg') }}" alt="photo project" class="img-fluid my-2"></a>
                {% if app.user %}
                    <div class="my-3">Nombre de projets : {{ count_projects }}</div>
                    <div class="my-3">Dernier projet travaillé :
                        {% if last_project is not null and last_project.id is not empty %}
                            <a href="{{ path('show_project', {id: last_project.id}) }}"> {{ last_project.name }} </a>
                        {% else %}
                            Aucun
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4 my-4">
                <h4 class="home-card-titre"><a href="{{ path('list_user_timers') }}" class="home-card font-weight-bold my-3">Timer</a></h4>
                <a href="{{ path('list_user_timers') }}"><img src="{{ asset('img/timer.jpg') }}" alt="photo timer" class=" img-fluid my-2"></a>
                {% if app.user %}
                    <div class="my-3">Nombre de temps total : {{ count_timers == "" ? "00h 00min 00s" :  count_timers | date ('H\\h i\\m\\i\\n s\\s')}}</div>
                    <div class="my-3">Dernière session : {{ last_timer.getTime == "" ? "00h 00min 00s" : last_timer.getTime | date('H\\h i\\m\\i\\n s\\s') }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
