{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="col-12 mt-5"> Team View</h1>
            <div class="col-xl-9 col-lg-10 col-md-11 col-12 my-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Team View</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-11 ">
                <div class="container">
                    <div class="row ml-md-2">
                        <div class="col-12 d-flex mb-0">
                            <h4> Name</h4>
                            <span class="ml-auto">Disband</span>
                        </div>
                        <div class="col-12 ml-2"> Project : Projet Timer</div>

                        <div class="ml-3 mt-3 col-12">
                            <div class="col-12 d-flex">
                                <div> Chef de Projet : bipbipbip</div>
                                <span class="ml-auto">Modifier</span>
                            </div>
                            <div class="col-12 d-flex">
                                <div> Utilisateur 1</div>
                                <div class="ml-auto">
                                    <span>Suprimer</span> /
                                    <span >Modifier</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div> Utilisateur 1</div>
                                <div class="ml-auto">
                                    <span>Suprimer</span> /
                                    <span >Modifier</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div> Utilisateur 1</div>
                                <div class="ml-auto">
                                    <span>Suprimer</span> /
                                    <span >Modifier</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-md-2 my-3">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-11 ">
                <div class="container">
                    <div class="row ml-md-2">
                        <div class="col-12 d-flex mb-0">
                            <h4> Name</h4>
                            <span class="ml-auto">Disband</span>
                        </div>
                        <div class="col-12 ml-2"> Project : Projet Timer</div>

                        <div class="ml-3 mt-3 col-12">
                            <div class="col-12 d-flex">
                                <div> Chef de Projet : bipbipbip</div>
                                <span class="ml-auto">Modifier</span>
                            </div>
                            <div class="col-12 d-flex">
                                <div> Utilisateur 1</div>
                                <div class="ml-auto">
                                    <span>Suprimer</span> /
                                    <span >Modifier</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div> Utilisateur 1</div>
                                <div class="ml-auto">
                                    <span>Suprimer</span> /
                                    <span >Modifier</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div> Utilisateur 1</div>
                                <div class="ml-auto">
                                    <span>Suprimer</span> /
                                    <span >Modifier</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-md-2 my-3">
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}




{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
{#    <div id="home-banner-image">#}
{#        <div id="home-banner-image-bg-color" >#}
{#            <div id="home-banner-center">#}
{#                <div class="row">#}
{#                    <div class="col-md-12">#}
{#                        <h1>Timer Application</h1>#}
{#                    </div>#}
{#                </div>#}

{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="container py-5" id="home-background">#}
{#        <div class="row">#}
{#            <div class="col-md-12 ">#}
{#                <h1> Timer Application</h1>#}
{#                <p class="pt-3">Timer application description, ndustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchange</p>#}
{#            </div>#}
{#        </div>#}

{#        <div class="row">#}
{#            <div class="col-md-4 my-4">#}
{#                <h4 class="home-card-titre"><a href="{{ path('app_home') }}" class="home-card font-weight-bold my-3">Team View</a></h4>#}
{#                <a href="{{ path('app_home') }}"><img src="img/team.jpg" alt="photo team" class=" img-fluid my-2"></a>#}
{#                <div class="my-3">Number of team : 3</div>#}
{#                <div class="my-3">Last team you worked with: team Lorem</div>#}
{#            </div>#}
{#            <div class="col-md-4 my-4">#}
{#                <h4 class="home-card-titre"><a href="{{ path('app_home') }}" class="home-card font-weight-bold my-3">Project View</a></h4>#}
{#                <a href="{{ path('app_home') }}"><img src="img/project.jpg" alt="photo project" class="img-fluid my-2"></a>#}
{#                <div class="my-3">Number of project : 3</div>#}
{#                <div class="my-3">Last project you worked on: Project Lorem</div>#}
{#            </div>#}
{#            <div class="col-md-4 my-4">#}
{#                <h4 class="home-card-titre"><a href="{{ path('app_home') }}" class="home-card font-weight-bold my-3">Timer View</a></h4>#}
{#                <a href="{{ path('app_home') }}"><img src="img/timer.jpg" alt="photo timer" class=" img-fluid my-2"></a>#}
{#                <div class="my-3">Number of Time you worked : 150h 30min 2s</div>#}
{#                <div class="my-3">Last Session duration : 3h 50min 20s</div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


{#{% endblock %}#}
