{% extends 'base.html.twig' %}

{% block title %}- Home{% endblock %}

{% block body %}
    <div class="container py-5" id="home-background">
        <div class="row">
            <div class="col-md-12 ">
                <h1> Timer Application</h1>
                <p class="pt-3">Timer application description, ndustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchange</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 my-4">
                <h4 class="home-card-titre"><a href="{{ path('list_teams') }}" class="home-card font-weight-bold my-3">Équipes</a></h4>
                <a href="{{ path('list_teams') }}"><img src="{{ asset('img/team.jpg') }}" alt="photo team" class=" img-fluid my-2"></a>
                {% if app.user %}
                    <div class="my-3">Nombre d'équipes : {{ count_teams }}</div>
                    <div class="my-3">Dernière équipe : {{ last_team.name is empty or last_team.name ? "Aucune" }}</div>
                {% endif %}
            </div>
            <div class="col-md-4 my-4">
                <h4 class="home-card-titre"><a href="{{ path('list_projects') }}" class="home-card font-weight-bold my-3">Projets</a></h4>
                <a href="{{ path('list_projects') }}"><img src="{{ asset('img/project.jpg') }}" alt="photo project" class="img-fluid my-2"></a>
                {% if app.user %}
                    <div class="my-3">Nombre de projets : {{ count_projects }}</div>
                    <div class="my-3">Dernier projet : {{ last_project.name is empty or last_team.name ? "Aucun" }}</div>
                {% endif %}
            </div>
            <div class="col-md-4 my-4">
                <h4 class="home-card-titre"><a href="{{ path('list_user_timers') }}" class="home-card font-weight-bold my-3">Timer</a></h4>
                <a href="{{ path('list_user_timers') }}"><img src="{{ asset('img/timer.jpg') }}" alt="photo timer" class=" img-fluid my-2"></a>
                {% if app.user %}
                    <div class="my-3">Nombre de temps total : {{ count_timers == "" ? "00h 00min 00s" :  count_timers | date ('H\\h i\\m\\i\\n s\\s')}}</div>
                    <div class="my-3">Dernière session : {{ last_timer.getTime == "" ? "00h 00min 00s" : last_timer.getTime | date('H\\h i\\m\\i\\n s\\s') }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
