
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href={{ path('app_home') }}>Timer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="offset-md-1 navbar-nav ">
            <li class="nav-item">
                <a class="nav-link mx-3" href={{ path('app_home') }}>Team View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-3" href={{ path('app_home') }}>Project View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-3" href={{ path('app_home') }}>Timer View</a>
            </li>
            <li class="nav-item d-lg-none  mx-3">
                <span><a class="nav-link" href={{ path('app_home') }}>Login</a>
                <a class="nav-link" href={{ path('app_home') }}>Sign up</a></span>
            </li>
        </ul>
    </div>
    <div class="align-self-end  navbar-nav d-lg-inline-block d-none">
        <a class="nav-link" href={{ path('app_home') }}>Login / Sign up</a>
    </div>

</nav>