{% extends 'base.html.twig' %}

{% block title %}- Project{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-5">
                <h1>{{ project.name }}</h1>
                {% if (app.user.id)  is same as (project.createdBy.id) or (app.user.id)  is same as (project.leader.id)%}
                    <a href="{{ path('update_project', {id: project.id }) }}">Modifier</a>
                {% endif %}
            </div>
            <div class="col-xl-9 col-lg-10 col-md-11 col-12 mb-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('list_projects') }}">Vos Projets</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-12">
                <div class="row d-flex">
                    <div class="col-md-6 my-4">
                        <h2>
                            Team : <a href="{{ path('show_team', {id: project.team.id }) }}">{{ project.team.name }}</a>
                        </h2>
                    </div>
                    <div class="col-md-6 my-3"><h3>Chef d'équipe : <span class="text-warning"> {{ project.leader.pseudo }}</span></h3></div>
                    <div class="col-md-10">Projet créé par : <span class="text-warning">{{ project.createdBy.pseudo }}</span> le <span class="text-warning">{{ project.createdAt | date('d/M/Y') }}</span></div>
                    <div class="col-md-10">Date de dernière mise à jour : <span class="text-warning">{{ project.updatedAt | date('d/M/Y H:i:s') }}</span></div>
                    <div class="col-md-12 my-3"><h4 >Description : </h4>
                        {{ project.description }}
                    </div>
                </div>
            </div>


            <div class="col-md-12 my-5">

                <div class="row d-flex">
                    <div class="col-md-8 my-3"><h4>Timers : <span>{{ time | date('H:i:s') }}</span></h4> </div>
                    <div class="ml-auto my-3">
                        <a  class="btn-primary btn" href="{{ path('add_timer', {id: project.id }) }}">Ajouter un Timer</a>
                    </div>
                </div>
                <table class="table nowrap" id="tableNews">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Membre</th>
                        <th>Status</th>
                        <th>Temps</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for timer in project.timers | sort((a, b) => b.createdAt <=> a.createdAt) %}
                        <tr>
                            <td class="v-align-middle">
                                <a class="m-0 font-weight-bold" href="{{ path('show_timer', {id: timer.id}) }}">{{ timer.name }}</a>
                            </td>
                            <td class="v-align-middle">
                                <p class="m-0">{{ timer.user.pseudo }}</p>
                            </td>
                            <td class="v-align-middle">
                                <span class="badge  px-2 py-1
                                {% if (timer.getStatusToString) is same as ("PRÊT") %}
                                    badge-success
                                {% elseif (timer.getStatusToString) is same as ("EN COURS") %}
                                    badge-warning
                                {% else %}
                                    badge-danger
                                {% endif %}
                                ">{{ timer.getStatusToString }}</span>
                            </td>
                            <td class="v-align-middle">
                                {% if (timer.end) is not null %}
                                    <p class="m-0">{{ timer.getTime | date ('H:i:s') }}</p>
                                {% endif %}
                            </td>
                            <td class="v-align-middle ml-n3">
                                {% if (app.user.id) is same as (timer.user.id)
                                    or (app.user.id) is same as (project.createdBy.id)
                                    or (app.user.id) is same as (project.leader.id)
                                %}
                                    <a class="btn btn-danger" href="{{ path('remove_timer', {id: timer.id}) }}">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
