{% extends 'base.html.twig' %}

{% block title %}- Inscription{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-12 my-5">
                <h1> S'inscrire</h1>
            </div>
            <div class="col-md-12">
{#                    {{ form(form) }} #}

                    {{ form_start(form) }}

                <div class="row flex form-ul-style">
                    <div class="col-md-6 my-3">
                        {{ form_label(form.lastName, 'Nom : ', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-input form-control col-md-12'}}) }}
                        {{ form_errors(form.lastName, {'attr': {'class': 'col-md-12 '}}) }}
                    </div>

                    <div class="col-md-6 my-3">
                        {{ form_label(form.firstName, 'Prénom : ', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-input form-control col-md-12'}}) }}
                        {{ form_errors(form.firstName, {'attr': {'class': 'col-md-12 '}}) }}
                    </div>

                    <div class="col-md-6 my-3">
                        {{ form_label(form.pseudo, 'Pseudo : ', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.pseudo, {'attr': {'class': 'form-input form-control col-md-12'}}) }}
                        {{ form_errors(form.pseudo, {'attr': {'class': 'col-md-12 '}}) }}
                    </div>

                    <div class="col-md-6 my-3">
                        {{ form_label(form.email, 'Email : ', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-input form-control col-md-12'}}) }}
                        {{ form_errors(form.email, {'attr': {'class': 'col-md-12 '}}) }}
                    </div>

                    <div class="col-md-12 my-3 ">
                        {{ form_widget(form.password, {'first_option': {'attr': {'class':  'form-input form-control col-md-12'}},
                         'second_option': {'attr': {'class':  'form-input form-control col-md-12 d-inline-block'}}}) }}
                        {{ form_errors(form.password, {'attr': {'class': 'col-md-12 '}}) }}
                    </div>

                    {{ form_widget(form.submit, { 'label': 'Incription', 'attr': {'class': 'btn btn-primary'} }) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
